{% extends "todo_app/base.html" %}
{% block title %}
 Create Page
{% endblock title %}
{% block content %}
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><center>To-Do List</center></h1>
      <p class="lead"><center>Bu bir django deneme sayfasıdır</center></p>
      <form method="POST">
      {% csrf_token %} 
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">To-Do title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="title" >
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="description" >
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-success">Update To-Do</button>
    </div>
  </div>
</form>
</div>
<div class="container">

{% endblock content %}